.container{
    background-color: rgba(35, 89, 135, 1);
    height: 30em;
    width: 55em;
}

.header{
    background-color: white;
    margin-left: -0.91em;
    width: 55em;
}

.path{
    margin-left: 25em;
    font-size: 0.8em;
}

.sidebar{
    background-color: rgba(202, 203, 204, 1);
    height: 27em;
    width: 8em;
    margin-left: 0.9em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}


.homebtn{
    margin-top: 5em;
    margin-bottom: 2em;
    border: 0px;
    width: 8em;
    background-color: white;
    height: 2.7em;
}

.settingsbtn{
    border: none;
    width: 8em;
    margin-bottom: 2em;
    background-color: rgba(202, 203, 204, 1);
}
.ordersbtn{
    margin-bottom: 2em;
    background-color: rgba(202, 203, 204, 1);
    border: none;
    margin-left: 2.1em;
}
.icons1{
    height: 1.6em;
    width: 1.6em;
    margin-left: -2.8em;
    padding-right: 0.3em;
}

.icons{
    height: 1.6em;
    width: 1.6em;
    margin-left: -2em;
    padding-right: 0.3em;
}

.widgets{
    background-color: white;
    margin-top: -26em;
    padding: 0.8em;
    width: 55em;
    margin-left: -0.91em;
}

.navBar{
    margin-left: 9.8em;
}

.pressureBtn, .rateBtn, .seriesBtn, .junctionsBtn, .metadataBtn, .layoutBtn{
    background-color: white;
    border:none
}

.pipe_data{
    margin-left: 10em;
    background-color: rgba(111, 167, 245, 1);
    margin-right: 1em;
    padding-bottom: 0.04em;
    width: 43em;
}

.h1{
    font-size: 2em;
}

table {
    display: block;
    height: 17.5em;
    overflow-y: auto;
    margin-left: 1.5em;
    justify-content: center;
}

.content{
    height: 19.2em;
    background-color: rgba(111, 167, 245, 1);
    margin-left: 10em;
    margin-right: 1em;
    width: 43em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

::-webkit-scrollbar {
    width: 2em;  /* Total width including `border-width` of scrollbar thumb */
    height:10px;
}
::-webkit-scrollbar-thumb {
    height: 1em;
    border: 0.7em solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    background-color: rgba(235, 231, 231, 0.918);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}

/* the box */
::-webkit-scrollbar-button { 
    width: 5px;
    height: 5px;
    display: none;
    background-color: blue;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
/* ::-webkit-scrollbar-track{
    background-color: blue;
} */
